@mixin _font($family, $size, $lineHeight, $style, $weight) {
  font-family: $family;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $lineHeight;
}

.header {
  $border-radius: 8px;

  margin: 0;
  padding: 0;

  &__title {
    margin: 7px 0 16px 0;
    @include _font(Golos, 36px, 53px, normal, 800);
    color: #fff;
  }

  &__menu {
    margin: 0;
  }

  @media only screen and (min-width: 768px) and (max-width: 1440px) {
    &__title {
      margin-top: 8px;
    }

    &__menu {
      margin: 0;
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  @media only screen and (max-width: 767px) {
    &__title {
      font-size: 30px;
      line-height: 33px;
    }
  }
}

.countries {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0 14px 7px 0;
  }

  &__button {
    padding: 8px 20px;
    @include _font(Golos, 16px, 20px, normal, 500);
    border: none;
    outline: none;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    background: none;
    cursor: pointer;
    white-space: nowrap;

    &_disabled,
    &:active,
    &:focus {
      border: none;
      outline: none;
      background: #80a0f2;
    }

    &:hover {
      border: none;
      outline: none;
      background: #a5beff;
    }

    &_disabled {
      &:hover {
        background: #80a0f2;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    $colorIsOpen: #254595;
    $colorSelected: #3259b9;
    $heightItem: 39px;

    flex-direction: column;
    background: $colorIsOpen;
    max-height: calc(7 * #{$heightItem});
    overflow: hidden;

    &__item {
      margin: 0;
      width: 100%;
      height: $heightItem;
    }

    &__button {
      width: 100%;
      text-align: left;
      border-radius: 0;
      padding: 8px 10px 8px 40px;

      &:before {
        content: "";
        position: absolute;
        left: -22px;
        display: block;
        width: 10px;
        height: 10px;
        background: red;
      }

      &_disabled {
        background: $colorSelected;
      }

      &:active {
        background: $colorSelected;
      }
      &:hover {
        background: $colorSelected;
      }
      &:focus {
        background: $colorSelected;
      }
    }
  }
}
